---
import { Image } from "astro:assets";
const { project } = Astro.props;
---
<div class="card card-border w-96 shadow-sm mt-4 bg-slate-800">
  <figure>
    <Image src={project.image} width="600" height="338" inferSize={true} alt="Project Header" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">
      <a class="link link-accent" href={project.url}>{project.title}</a>
    </h2>
    <p>
        {project.description}
        <div class="divider divider-primary">tags</div>
    </p>
    <div class="card-actions justify-center">
      {project.tags.map((tag) => (<a class="link link-success link-hover" target="_blank" href={`https://stackoverflow.com/questions/tagged/${tag}`}><div class="badge badge-primary">{tag}</div></a>))}
    </div>
  </div>
</div>
