---
import { Image } from "astro:assets";
const { project } = Astro.props;
project.tags?.sort();
project.collectives?.sort();
---
<div class="max-w-70 sm:max-w-80 md:max-w-96 flex-none ">

  <div class="card card-border shadow-sm mt-4 bg-slate-800 w-full h-full">
    <figure>
      <Image src={project.image} width="600" height="338" inferSize={true} alt="Project Header" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">
        <p class="gradient-header">{project.title}</p>
      </h2>
      <h3 class="card-actions justify-between">
        <button class="btn btn-secondary" 
                data-portfolio-project="true"
                data-portfolio-link={project.code_url}>
                <i class="fa-brands fa-github"/><span class="hidden md:inline-block">Code&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></span>
        </button>
        <button class="btn btn-accent" 
                data-portfolio-project="true"
                data-portfolio-link={project.live_url}>
                <i class="fa-solid fa-paper-plane"/><span class="hidden md:inline-block">Live&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></span>
        </button>
      </h3>
      <p>
          {project.description}
          <div class="divider divider-primary"><i class="fa-brands fa-stack-overflow"/></div>
      </p>
      <div class="card-actions justify-center">
        {project.collectives?.map((collective:string) => (<a class="link link-success link-hover" target="_blank" href={`https://stackoverflow.com/collectives/${collective}`}><div class="badge badge-secondary">{collective}</div></a>))}
        {project.tags?.map((tag:string) => (<a class="link link-success link-hover" target="_blank" href={`https://stackoverflow.com/questions/tagged/${tag}`}><div class="badge badge-primary">{tag}</div></a>))}
      </div>
    </div>
  </div>
  
</div>
